<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>RaptorJS - Internal Server Error</title>
    <link rel='stylesheet' href='/Assets/css/bootstrap.min.css' />
</head>
<body>
    <div class='container'>
        <div class='page-header'>
            <h1>Error <small>Internal Server Error (500)</small></h1>
        </div>
        <p>We're sorry, but the server is having some problems.</p>
    </div>
</body>
</html>
